<div class="container mt-5">
    <div class="card p-3">
        <div class="row">
            <div class="col-6">
                <form #orderForm="ngForm" (ngSubmit)="placeOrder(orderForm)">

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Tên khách hàng</mat-label>
                        <input matInput placeholder="Tên khách hàng" [(ngModel)]="orderDetails.fullName"
                            name="fullName">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Địa chỉ</mat-label>
                        <input matInput placeholder="Địa chỉ" [(ngModel)]="orderDetails.fullAddress" name="fullAddress">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Số điện thoại</mat-label>
                        <input matInput placeholder="Số điện thoại" [(ngModel)]="orderDetails.contactNumber"
                            name="contactNumber">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Số điện thoại khác</mat-label>
                        <input matInput placeholder="Số điện thoại khác"
                            [(ngModel)]="orderDetails.alternateContactNumber" name="alternateContactNumber">
                    </mat-form-field>

                    <div align="right">
                        <button type="submit" mat-stroked-button color="primary">Đặt hàng</button>
                    </div>
                </form>

            </div>
            <div class="col-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ipsam veritatis illum enim quidem non
                quaerat alias officia deserunt hic cum ipsum recusandae, id laborum blanditiis dolorem nisi debitis
                pariatur.
            </div>
        </div>
    </div>
</div>